modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "frontend"

[[workflows.workflow]]
name = "frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --force"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
packages = ["openssh"]
channel = "stable-25_05"
